@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Roboto', sans-serif;
}
body {
    /* position: fixed; */
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #1A1B22;
}
img {
    image-rendering: pixelated;
}
#logo {
    width: 100px;
}
#menu-bar {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 70px;
    background: linear-gradient(90deg, rgba(66,255,215,1) 0%, rgba(72,73,255,1) 43%, rgba(255,0,202,1) 99%);
    border-bottom: solid 1px gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    place-items: center;
}
#search-box-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}
#search-input {
    border: none;
}
#search-input:focus {
    outline: none;
}
#search-user-list {
    margin-top: 10px;
}
#search-container {
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #1A1B22;
    z-index: 1;
    padding: 20px;
    padding-top: 70px;
}
.search-user-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    align-items: center;
    color: #2D2F3B;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.search-user-image {
    width: 20px;
    margin-right: 10px;
}
.write-rolling-paper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D2F3B;
    color: #fff;
    border-radius: 40px;
    padding: 10px;
}
#main-container {
    top: 0;
    left: 0;    
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    padding-top: 70px;
    color: #fff;
}

.box {
    margin-top: 40px;
    border-radius: 20px;
    background-color: #2D2F3B;
    padding: 20px;
}
#profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
}
#profile-image {
    width: 50px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2D2F3B;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
}
#show-rolling-paper {
    background-image: image-set("../texture/snow/bg.jpg");
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    place-items: center;
}
.same-class-user {
    display: flex;
    margin-top: 10px;
    align-items: center;
    /* justify-content: center; */
    color: #2D2F3B;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.same-class-user-image {
    width: 20px;
    margin-right: 10px;
}
#my-rolling-paper-container, #post-container {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(38,38,97);
    background: linear-gradient(0deg, rgba(38,38,97,1) 31%, rgba(0,0,0,1) 99%);
    transition: transform .5s;
}
.back {
    position: absolute;
    color: #fff;
    top: 30px;
    left: 30px;
}
.sky {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    animation: spin;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #fff;
    border-radius: 50%;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.mountain {
    z-index: 3;
    position: absolute;
    bottom: 199px;
    width: 400px;
}
#my-rolling-paper-container h1 {
    font-size: 100px;
    position: absolute;
    bottom: 75vh;
    color: #fff;
}
#my-rolling-paper {
    position: absolute;
    bottom: 20vh;
    width: 400px;
    height: 400px;
}
.load {
    width: 100vw;
    height: 200px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
}
#post-back {
    z-index: 5;
}
#rolling-paper-owner {
    font-size: 30px;
    position: absolute;
    bottom: 75vh;
    color: #fff;
}
#write-btn-container {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.write-btn {
    position: absolute;
    bottom: 10vh;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    z-index: 5;
    width: 70vw;
    background-color: #fff;
    background-image: url(/texture/rolling-paper/bg2.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: solid 6px #000;
    box-shadow: 1px 1px 0px #000,
                2px 2px 0px #000,
                3px 3px 0px #000,
                4px 4px 0px #000,
                5px 5px 0px #000,
                6px 6px 0px #000,
                7px 7px 0px #000,
                8px 8px 0px #000;
}
.write-btn:hover {
    box-shadow: 1px 1px 0px #000,
                2px 2px 0px #000,
                3px 3px 0px #000,
                4px 4px 0px #000,
                5px 5px 0px #000,
                6px 6px 0px #000,
                7px 7px 0px #000;
    transform: translate(3px, 1px);
}
#write-container {
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A1B22;
    color: #fff;
    /* background-image: image-set("../texture/rolling-paper/bg2.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .5s;
    gap: 40px;
}
#paper-title, #paper-description, #writer-name{
    padding: 10px;
    width: 70vw;
    height: 4vh;
    border-radius: 10px;
    border: none;
}

.hidden-right {
    transform: translate(2000px);
}
.hidden-left {
    transform: translate(-2000px);
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
